* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #020024;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  /* min-height: 90vh; */
  text-align: center;

  padding: 10px;
  border-radius: 8px;
}
.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  span {
    font-size: 14px;
    color: #aaa;
    width: 40px;
    text-align: center;
  }
}

#timeline {
  flex: 1;
  appearance: none;
  height: 4px;
  width: 200px;
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border-radius: 2px;
  cursor: pointer;
}

#timeline::-webkit-slider-thumb {
  appearance: none;
  width: 6px;
  height: 10px;
  background: #fff;
  border-radius: 30%;
}

#timeline::-moz-range-thumb {
  width: 6px;
  height: 10px;
  background: #fff;
  border-radius: 30%;
}

#img {
  width: 250px;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 15px 17px 30px rgba(0, 0, 0, 0.7);
}

#controls {
  display: flex;
  background-color: #020024;
  border-top: 1px solid #020024;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  padding: 12px;
  position: fixed;
  bottom: 0;
  #pause {
    background-color: whitesmoke;
    svg {
      fill: #020024;
    }
  }
}

button {
  width: 70px;
  height: 40px;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 300px;
  background: none;
  box-shadow: 15px 17px 30px rgba(0, 0, 0, 0.1);
  margin: 2px;
  svg {
    fill: whitesmoke;
  }
}

button:hover {
  scale: 1.06;
}

#playlist {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  .songList {
    display: grid;
    align-items: center;
    width: 350px;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    font-weight: bold;
    gap: 10px;
    margin-top: 8px;
    background-color: #020024;
    color: whitesmoke;
    padding: 8px;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 1px solid whitesmoke;
    img {
      border-radius: 8px;
    }
    button {
      width: 30px;
      height: 30px;
      border-radius: 100px;
      display: flex;
      justify-content: flex-end;
      border: none;
      align-items: center;
    }
  }
}

.liked {
  button:first-of-type {
    svg {
      fill: lightcoral;
    }
  }
}

.playing {
  button:last-of-type {
    svg {
      fill: lightgreen;
    }
  }
}

#selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  h3 {
    border: 1px solid whitesmoke;
    padding: 4px 12px;
    border-radius: 100px;
    cursor: pointer;
  }
}
#allSongs {
  display: none;
  margin: auto;
}

.active {
  background-color: whitesmoke;
  color: #020024;
}
